In [2]:
import numpy as np
import pandas as pd

import warnings

warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('./data/openpowerlifting.csv')
df

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,Bench4Kg,BestBenchKg,Deadlift4Kg,BestDeadliftKg,TotalKg,Place,Wilks
0,0,Angie Belk Terry,F,Wraps,47.0,Mst 45-49,59.60,60,NaN,47.63,NaN,20.41,NaN,70.31,138.35,1,155.05
1,0,Dawn Bogart,F,Single-ply,42.0,Mst 40-44,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
2,0,Dawn Bogart,F,Single-ply,42.0,Open Senior,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
3,0,Dawn Bogart,F,Raw,42.0,Open Senior,58.51,60,NaN,NaN,NaN,95.25,NaN,NaN,95.25,1,108.29
4,0,Destiny Dula,F,Raw,18.0,Teen 18-19,63.68,67.5,NaN,NaN,NaN,31.75,NaN,90.72,122.47,1,130.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386409,8481,William Barabas,M,Multi-ply,NaN,Elite,113.58,125,NaN,NaN,NaN,NaN,NaN,347.50,347.50,2,202.60
386410,8481,Justin Zottl,M,Multi-ply,NaN,Elite,119.02,125,NaN,NaN,NaN,NaN,NaN,322.50,322.50,3,185.77
386411,8481,Jake Anderson,M,Multi-ply,NaN,Elite,120.29,125,NaN,NaN,NaN,NaN,NaN,367.50,367.50,1,211.17
386412,8481,Jeff Bumanglag,M,Multi-ply,NaN,Elite,126.73,140,NaN,NaN,NaN,NaN,NaN,320.00,320.00,3,181.85
386413,8481,Shane Hammock,M,Multi-ply,NaN,Elite,129.46,140,NaN,NaN,NaN,NaN,NaN,362.50,362.50,2,205.18

<h5>Check for some columns</h5>

In [4]:
def num_of_nan(df: pd.DataFrame) -> dict:
    nan_in_col = {}
    column_name = df.columns
    for name in column_name:
        nan_num =df[name].isna().sum()
        nan_in_col[name] = nan_num
        print(f'in {name} number of nan rows is {nan_num}')

num_of_nan(df)
print(df.shape)

in MeetID number of nan rows is 0
in Name number of nan rows is 0
in Sex number of nan rows is 0
in Equipment number of nan rows is 0
in Age number of nan rows is 239267
in Division number of nan rows is 15843
in BodyweightKg number of nan rows is 2402
in WeightClassKg number of nan rows is 3812
in Squat4Kg number of nan rows is 385171
in BestSquatKg number of nan rows is 88343
in Bench4Kg number of nan rows is 384452
in BestBenchKg number of nan rows is 30050
in Deadlift4Kg number of nan rows is 383614
in BestDeadliftKg number of nan rows is 68567
in TotalKg number of nan rows is 23177
in Place number of nan rows is 1092
in Wilks number of nan rows is 24220
(386414, 17)

In [10]:
# I need to drop some columns from dataframe

df.drop(columns=['Deadlift4Kg', 'Bench4Kg', 'Age', 'MeetID', 'Squat4Kg'], axis=0)

num_of_nan(df)

KeyError: "['Deadlift4Kg', 'Bench4Kg', 'Age', 'MeetID', 'Squat4Kg'] not found in axis"